<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @magnet.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @magnet.y %>
</p>

<p>
  <strong>Word:</strong>
  <%= @magnet.word %>
</p>

<p>
  <strong>Locked until:</strong>
  <%= @magnet.locked_until %>
</p>

<p>
  <strong>Locked by:</strong>
  <%= @magnet.locked_by %>
</p>

<p>
  <strong>Fridge:</strong>
  <%= @magnet.fridge_id %>
</p>

<%= link_to 'Edit', edit_magnet_path(@magnet) %> |
<%= link_to 'Back', magnets_path %>
